/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/about/style.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_container__nBwPi {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
}
.style_container__nBwPi .style_card__HlSto {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1px;
  height: 500px;
  width: 1000px;
  border-radius: 25px 25px 0 0;
  padding: 50px;
  transform-origin: top;
  background-image: linear-gradient(to bottom, #9a9ba3, #737177, #4d4b4e, #292728, #000000);
  /*
  //transform: perspective(1500px) rotateX(-5deg);
  //box-shadow: rgba(122, 122, 122, 0.514) 0px 25px 50px -12px;
  //transition: transform 1s ease 0s;

  /*&:hover {
      transform: perspective(3000px) rotateX(5deg);
  }*/
}
.style_container__nBwPi .style_card__HlSto h1 {
  text-align: center;
  margin: 0px;
  font-size: 28px;
}
.style_container__nBwPi .style_card__HlSto .style_body__qXMn3 {
  display: flex;
  height: 100%;
  margin-top: 50px;
  gap: 50px;
  overflow: hidden;
}
.style_container__nBwPi .style_card__HlSto .style_body__qXMn3 .style_description__qdjca {
  width: 40%;
  position: relative;
  top: 10%;
  overflow: scroll;
}
.style_container__nBwPi .style_card__HlSto .style_body__qXMn3 .style_description__qdjca p {
  font-size: 16px;
}
.style_container__nBwPi .style_card__HlSto .style_body__qXMn3 .style_description__qdjca p::first-letter {
  font-size: 28px;
  font-family: "Title";
}
.style_container__nBwPi .style_card__HlSto .style_body__qXMn3 .style_imageContainer__tMmEj {
  position: relative;
  width: 60%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.style_container__nBwPi .style_card__HlSto .style_body__qXMn3 .style_imageContainer__tMmEj .style_inner__zwAjK {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.style_container__nBwPi .style_card__HlSto .style_body__qXMn3 .style_imageContainer__tMmEj img {
  object-fit: cover;
}
